#menu_div {
  width: 100%;
  height: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}

.topbar_room {
  width: 100%;
  height: 10%;
  /*height: 5em;*/
  color: #fff;
  background: #353E4C;
  border: 0;
  font-size: 1em;
  display: flex;
  align-items: center;
}
.topbar_room span {
  display: inline-block;
  /*height: inherit;*/
  font-size: 1em;
  padding: 0em 1em;
}

.topbar_room span img{
  vertical-align: middle;
}

.titlebar_room {
  width: 92%;
  height: 3.125em;
  /*flex-grow: 1;*/
  color: #fff;
  padding: 0em 4%;
  background: #353E4C;
  font-size: 0.875em;
  display: flex;
  align-items: center;
}

.titlebar_room span {
  padding: 0.3125em;
  margin: 0em 0.625em 0em 0em;
  /*background: #000000;*/
  display: inline-block;
}

.maindiv {
  width: 100%;
  height: 80%;
  display: -webkit-flex; /* Safari */
  display: flex;
  background: #f4f4f4;
}

.navdiv {
  width: 25%;
  float: left;
  height: 100%;
  font-size: 0.825em;
  letter-spacing: 0.25em;
}

.mainmenu_div {
  width: 75%;
  flex-grow: 1;
  float: left;
  background: #ffffff;
  padding: 0.3125em 0em 11% 0.3125em;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.food_div {
  width: 100%;
  float: left;
  background: rgb(244, 248, 249);
  border-bottom: 1px solid rgb(230, 230, 230);
  /*flex: 2;*/
  /*height: 100%;*/
}

.menuimg_div {
  width: 25%;
  /*height: 100%;*/
  float: left;
  display: flex;
  justify-content: center;
}

.menuimg_div span {
  display: inline-block;
  margin: 0.3125em 0em 2px 0.3125em;
  padding: 50%;
  background: #000;
}

.food_item_div {
  width: 70%;
  float: left;
  padding: 0.625em 0em 0em 0.625em;
}

.food_name_span {
  color: #263238;
  font-size: 0.825em;
}

.money_p {
  color: #FB4E44;
}

.norms_span {
  font-size: 0.75em;
  height: 2.5em;
  color: #ffffff;
  background: #e67500;
  padding: 0em 0.825em;
  float: right;
  display: flex;
  align-items: center;
  border-radius: 1.25em;
}

.food_nums_count_span {
  float: right;
  display: flex;
  align-items: center;
  margin-right: 0.625em;
  color: #666666;
}

.food_nums_count_span img {
  width: 1.25em;
  margin: 0em 0.3125em;
}

.category_list {
  list-style: none;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0em;
  float: left;
  padding: 0.3125em 0px;
  background: #f4f4f4;
}

.category_list li {
  /*padding: 0.825em 0.525em;*/
  height: 3.25em;
  /*text-align: center;*/
  display: flex;
  color: #263238;
  font-family: PingFangSC-Regular;
  font-weight: 700;
  border-bottom: 1px solid rgb(230, 230, 230);
  align-items: center;
  justify-content: center;
}

.foods_list {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0em 0em 0em 0.625em;
}

.active {
  background: #ffffff;
  position: relative;
}

.active:before {
  content: "";
  width: 3px;
  background: #e67500;
  display: inline-block;
  height: 3.25em;
  position: absolute;
  top: 0;
  left: 0;
}

.foodImg_div {
  width: 25%;
  background: #e67500;
  height: inherit;
  float: left;
}

.food_other_div {
  width: 75%;
  float: left;
  height: inherit;
}

.choose_norm_span {
  display: inline-block;
  background-color: #e67500;
  color: #ffffff;
  font-size: 0.875em;
  padding: 0.5em 1em;
  float: right;
  border-radius: 25%;
}

.price_p {
  width: 100%;
  float: left;
  color: #FB4E44;
}

/*选择食物规格窗口样式*/
.foodNormsDiv {
  display: none;
}

.dis_foodNormsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.nodis_foodNormsDiv {
  display: none;
}

.food_center {
  width: 80%;
  background: white;
  border-radius: 0.25em;
}

.foodname_div {
  text-align: center;
}

.foodname_div p {
  margin: 0;
  padding: 1em 1em 0em;
}

.foodname_div span {
  display: block;
  float: right;
  width: auto;
}

.norm_span, .norm_la {
  display: inline-block;
  padding: 0.25em 0.75em;
  font-size: 0.825em;
  float: left;
  margin-right: 0.625em;
  border: 1px solid #C6CDD4;
  border-radius: 0.25em;
}

.norm_span:hover, .norm_la:hover {
  border-color: #e67500;
}

.norms_la {
  font-size: 0.875em;
  margin: 0em;
  padding: 1em 0em 0em 1em;
}

.ladu_label input[type="checkbox"] {
  -webkit-appearance: none;
  display: inline-block;
  position: absolute;
  border: 1px solid #94A4AE;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0em;
  border-radius: 3px;
}

.taste_select_span {
  background: #e67500;
  display: inline-block;
  color: #ffffff;
  font-size: 0.825em;
  padding: 0.3125em 0.625em;
  margin: 1em;
  border-radius: 3px;
}

.ladu_label input[type="checkbox"]:checked {
  -webkit-appearance: none;
  border-color: #e67500;
  background: rgba(255,255,255,0);
}

.food_center_normInfo, .food_center_laduInfo {
  display: inline-block;
  width: 100%;
}

.food_center_normInfo ul, .food_center_laduInfo ul {
  display: inline-block;
  width: inherit;
  padding: 0em 0.725em;
  margin: 0em;
}

.food_center_normInfo p, .food_center_laduInfo p {
  padding: 0.625em;
  margin: 0em;
}

.food_center_laduInfo input {
  /*display: inline-block;*/
  /*appearance:none;*/
  /*-webkit-appearance: none;*/
  /*-moz-appearance: none;*/
  width: 90%;
  padding: 0.625em 0em;
  margin: 0.3125em -2em 0.3125em 1em;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
}

.food_center_laduInfo input::placeholder {
  padding-left: 0.625em;
}

.food_center_normInfo span {
  margin-right: 1em;
}

.food_center_price {
  margin: 1em 0em 0em;
  background: #F4F8F9;
  border-radius: 0em 0em 0.25em 0.25em;
  padding: 1em 0.825em;
}

.trueprice_span {
  color: #FB4E44;
}

.ladu_span {
  font-size: 0.625em;
}

.oriprice_span {
  font-size: 0.625em;
  color: #91A4AD;
  text-decoration: line-through;
}

.food_center_shopcart_span {
  font-size: 0.75em;
  height: 2.5em;
  margin-top: -0.625em;
  background: #e67500;
  color: #ffffff;
  padding: 0em 0.625em;
  float: right;
  display: flex;
  align-items: center;
  border-radius: 1.25em;
}

.food_center_shopcart_span img {
  margin-right: 0.3125em;
}

/*购物车样式*/
.shop_carts {
  width: 100%;
  /*height: 100%;*/
  z-index: 998;
  left: 0;
  bottom: 0;
  position: absolute;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}

.fullheight {
  height: 100%;
  width: 100%;
  /*height: 100%;*/
  z-index: 998;
  left: 0;
  bottom: 0;
  position: absolute;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}

.autoheight {
  height: auto;
}

.car_price_div {
  background: #353E4C;
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.825em 0em;
  position: absolute;
}

.pay_span {
  display: block;
  background: #F3712D;
  line-height: 1.5625em;
  padding: 0.825em;
  position: absolute;
  bottom: 0;
  right: 0;
}

.price_span {
  width: 70%;
  margin: 0em;
  line-height: 1.5625em;
  text-align: center;
}

.shop_cartIcon {
  display: block;
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  background: inherit;
  width: 3.1875em;
  height: 3.1875em;
  border-radius: 50%;
}

.shop_cartIcon .food_1, .shop_cartIcon .food_2, .shop_cartIcon .food_3, .shop_cartIcon .food_4, .shop_cartIcon .food_5, .shop_cartIcon .food_6 {
  font-size: 0.75em;
  display: block;
  position: absolute;
  padding: 0.15em 0.5em;
  top: -0.525em;
  right: -1em;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.shop_cartIcon .food_0 {
  display: none;
}

.shop_cartIcon span {
  display: block;
  margin: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #F3712D;
  text-align: center;
}

.shop_cartIcon span img {
  margin: 25% auto;
}

.no_display_shop {
  display: none;
}

.display_shop {
  display: inline-block;
  width: 100%;
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.30);;
}

.shopItemDetail {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 3.25em;
  background: #ffffff;
}

.shopItemDetail ul {
  width: 100%;
  margin: 0em;
  padding: 0 0em;
}

.shopItemDetail ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  border-bottom: 1px solid #F4F8F9;
}

.shopcart_name_span {
  flex-grow: 1;
  margin: 1em;
}

.shopcart_money_span {
  flex-grow: 5;
  text-align: right;
}

.shopcart_count_span {
  float: right;
  display: flex;
  /*flex-grow: 2;*/
  align-items: center;
  margin: 1em;
  color: #666666;
}

.shopcart_count_span img {
  width: 1.25em;
  margin: 0em 0.3125em;
}

.shop_name_span {
  float: left;
  display: flex;
  align-items: center;
}

.shop_name_span:before {
  content: "";
  display: inline-block;
  width: 3px;
  background: #e67500;
  height: 1em;
  margin: 2px 0.5em;
}

.shopItemDetail p {
  width: 100%;
  display: inline-block;
  background: #F4F8F9;
  margin: 0em;
  padding: 0.75em 0em;
}

.clear_span {
  float: right;
  display: flex;
  align-items: center;
  margin: 0em 1em;
  font-size: 0.75em;
  color: #94A4AE;
}

.clear_span img {
  margin-right: 0.3125em;
}

/*弹出的口味选择div样式*/
.taste_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.taste_center_div {
  width: 80%;
  background: #ffffff;
}

.taste_title_p {
  text-align: center;
  margin: 0em;
  padding: 0.625em;
}

.taste_item_div {
  width: 100%;
  height: inherit;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.taste_title_p span {
  display: block;
  float: right;
  width: auto;
}

.ladu_label {
  padding: 0.625em;
  margin: 0.625em;
  display: inline-block;
  position: relative;
  text-align: center;
}

.taste_btn_div {
  width: 100%;
  text-align: center;
  background: #F4F8F9;
  padding: 0.625em 0em;
}

.taste_btn_div span {
  width: auto;
  background: #e67500;
  display: inline-block;
  color: #ffffff;
  border: 1px solid #e67500;
  padding: 0.25em 0.825em;
  border-radius: 3px;
}


