#menu_div {
  width: 100%;
  height: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}

.topbar {
  width: 100%;
  height: 3.125em;
  color: #fff;
  font-size: 0.625em;
  background: #353E4C;
  /*flex-grow: 1;*/
  display: flex;
  align-items: center;
}

.titlebar {
  width: 100%;
  height: 3.125em;
  /*flex-grow: 1;*/
  color: #fff;
  background: #353E4C;
  font-size: 1.25em;
  display: flex;
  align-items: center;
}

.maindiv {
  width: 100%;
  background: #f4f4f4;
  flex-grow: 1;
  padding-bottom: 3.25em;
  display: -webkit-box;
  -webkit-box-orient: horizontal
  /*height: 100%;*/
}

.navdiv {
  flex: 1;
  /*height: 100%;*/
}
.food_div{
  flex: 3;
}

.category_list{
  list-style: none;
  width: 100%;
  height: 90%;
  overflow: scroll;
  float: left;
  padding: 0.3125em 0px;
  background: #f4f4f4;
}
.foods_list{
  overflow: scroll;
  padding: 0em 0em 0em 0.625em;
}

.foods_list,.foods_list li{
  list-style: none;
  background: #ffffff;
}
.foods_list li{
  border-bottom: 1px solid #E3E9EB;
}

.active {
  background: #ffffff;
}
.choose_norm_span{
  display: inline-block;
  background-color: #e67500;
  color: #ffffff;
  font-size: 0.875em;
  padding: 0.25em;
  float: right;
}

.foodNormsDiv {
  display: none;
}

.dis_foodNormsDiv {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.food_center {
  width: 80%;
  height: 50%;
  margin: 50% auto;
  background: white;
  border-radius: 0.3125px;
}

.shop_carts {
  width: 100%;
  z-index: 1000;
  left: 0;
  bottom: 0;
  position: absolute;
}

.car_price_div {
  background: #353E4C;
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.825em 0em;
  position: absolute;
}

.pay_span{
  display: block;
  background: #F3712D;
  line-height: 1.5625em;
  padding: 0.825em;
  position: absolute;
  bottom:0;
  right: 0;
}

.price_span{
  width: 70%;
  margin: 0em;
  line-height: 1.5625em;
  text-align: center;
}
.shop_cartIcon{
  display: block;
  position: absolute;
  bottom:0.5em;
  left: 1em;
  background: inherit;
  width: 3.1875em;
  height: 3.1875em;
  border-radius: 50%;
}
.shop_cartIcon span{
  display: block;
  margin: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #F3712D;
  text-align: center;
}

.shop_cartIcon span img{
  margin: 25% auto;
}
